{% extends "layouts/user.html" %}

{% block head %}
  {{ super() }}
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.13.1/css/bootstrap-select.css" />
  <link href="/static/css/contact.css" rel="stylesheet" >
  <style type="text/css">
    .cancel-btn{
      background-color: #ef6b2a;
      color: #fff;
    }
    .cancel-btn:hover{
      background-color: #ed5b12
    }

    .dropdown-menu .inner .show li{
      width: 100%;
      background: #eee;
    }

  </style>
{% endblock %}

{% block user_content %}
  <section class="blog-area">
    <div class="container">
        <div class="row">
          <div class="col-lg-8 col-md-12">
            <div class="blog-posts">
              <div class="leave-comment-area">
                <h4 class="title"><b class="light-color">Change Password</b></h4>
                <div class="leave-comment">
                  <form action="/change_settings/{{current_user.userid}}" id="change-password" method="POST">
                    <div class="row">
                      <div class="col-sm-12">
                        <input class="name-input" type="password" placeholder="Old Password" id="old_password" name="old_password" required>
                      </div>
                      <div class="col-sm-12">
                        <input class="email-input" type="password" minlength="8" placeholder="New Password" id="new_password" name="new_password" required>
                      </div>
                      <div class="col-sm-12">
                        <input class="email-input" type="password" minlength="8" placeholder="Confirm Password" id="confirm_password" name="confirm_password" required>
                      </div>
                      <div class="col-sm-12">
                        <button type="submit" class="primary-btn" id="submit-password-btn">Submit</button>
                        <a href="#" onclick="window.location.reload();" class="secondary-btn">Cancel</a>
                      </div>
                    </div>
                  </form>
                </div>
              </div>
            </div>

            <div class="blog-posts">
              <div class="leave-comment-area">
                <h4 class="title"><b class="light-color">Change Category</b></h4>
                <div class="leave-comment">

                  <form action="/change_category" id="change-category" method="POST">
                    <div class="row">
                      <div class="col-sm-12 col-md-9" style="margin: 20px 0px 40px">
                        <select id="categories" name='categories' class="form-control selectpicker" multiple data-live-search="true" required>
                          {% for category in data %}
                            <option value="{{category.name}}" {% if old_categories %}{% if category in old_categories %}selected{% endif %}{% endif %} >
                              {{category.name}}
                            </option>
                          {% endfor %}
                        </select>
                      </div>
                      
                      <div class="col-sm-12">
                        <button type="submit" id="submit-categories-btn" class="primary-btn">Submit</button>
                        <a href="#" onclick="window.location.reload();" class="secondary-btn">Cancel</a>
                      </div>
                    </div>
                  </form>

                </div>
              </div>
            </div>
          </div>
      </div>
    </div>
  </section>          
{% endblock %}

{% block scripts %}
  {{super()}}
  <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.13.1/js/bootstrap-select.min.js"></script>
  <script type="text/javascript">
    $(document).ready(()=>{
      $('#change-password').submit(()=>{
        var old_password = $('#old_password').val();
        var new_password = $('#new_password').val();
        var confirm_password = $('#confirm_password').val();
        let submit_password_btn = $("#submit-password-btn");
        if (new_password != confirm_password){
          alert("New Password and Confirm Password must be same");
        } else if (old_password == new_password){
          alert("Old Password and New Password should not be same");
        } else {
          submit_password_btn.attr('disabled','disabled');
          $.post($(this).attr('action'), {
            old_password: old_password,
            new_password: new_password,
            confirm_password: confirm_password
          }, function(data, status){
            alert(data);
            window.location.reload();
          });
        }
        return false;
      });

      $('#change-category').submit(()=>{
        let categories = $("#category").val();
        let submit_categories_btn = $("#submit-categories-btn");
        if (!categories) {
          return false;
        } else {
          submit_categories_btn.attr('disabled','disabled');
          $.post($(this).attr('action'), {
            categories
          },(data, status) => {
            alert(data);
            window.location.reload();
          })
        }
      })
    });
  </script>
{% endblock scripts %}