{% extends "layouts/admin.html" %}

{% block admin_content %}
  <section class="blog-area">
    <div class="container">
      <div class="row">
        <div class="col-lg-12 col-md-12">
          <div class="blog-posts">
              <div class="single-post">
                <h3 class="title"><b class="light-color">Add Slider</b></h3>
                <div class="leave-comment-area">
                  <div class="leave-comment">
                    <form action="/add_slider" method="POST" enctype="multipart/form-data">
                      <div class="row">
                        <div class="col-sm-12">
                          <input class="name-input" type="text" name="head" id="head" placeholder="Slider Name (for admin reference only)">
                        </div>
                        <div class="col-sm-12">
                          <input class="email-input" id="title" name="title" placeholder="Text Data (to be shown over image)">
                        </div>
                        <div class="col-sm-12">
                          <input type="text" class="email-input" id="image" name="image" placeholder="Image Url">
                        </div> 
                        <div class="col-sm-12">
                          <input type="text" class="email-input" id="link" name="link" placeholder="Link Url (to redirect users)">
                        </div>
                        <div class="col-sm-12">
                          <button type="submit" class="primary-btn"><b>Add in slider</b></button>
                        </div>
                      </div>
                    </form>
                  </div>
                </div>    
              </div>

              <div class="single-post">
                <h3 class="title"><b class="light-color">Slider List</b></h3>
                <table class="table table-striped">
                  <thead>
                    <tr>
                      <th scope="col">#</th>
                      <th scope="col">Image Preview</th>
                      <th scope="col">Text Data (if any)</th>
                      <th scope="col">Link URL (if any)</th>
                      <th scope="col">Actions</th>
                    </tr>
                  </thead>
                  <tbody>
                    {% for post in data %}
                      <tr scope="row">
                        <td>{{ loop.index }}</td>
                        <td><img style="width: 100px; height: 100px;" src="{{post.image}}"></td>
                        <td> {{ post.head }}</td>
                        <td> {{ post.url }}</td>
                        <td><a class="secondary-btn" href="/delete_slider/{{post.id}}">Delete</a></td>
                      </tr>
                    {% endfor %}  
                  </tbody>  
                </table>
              </div>
              {{ pagination.links }}  
          </div>
        </div>
      
      </div>
    </div>
  </section>   
{% endblock %}